<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="name" value="libelement_cli" />
    <Parameter name="build-command" value="cmake -S ./libelement.CLI -B ./libelement.CLI/build" />
    <Parameter name="additional-build-command" value="cmake --build ./libelement.CLI/build --config Release" />
    <Parameter name="executable-path" value="libelement.CLI/build/Release/libelement_cli" />
    <Parameter name="working-directory"  value="libelement.CLI/build/Release" />
  </TestRunParameters>
</RunSettings>