ul.example-selector {
    display:block;
    list-style-type: none;
    height: 15px;
    margin: 0;
    padding: 0;
}
ul.example-selector li {
    display: block;
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 10px 15px;
    float: left;
    text-align: center;
    background-color: #ffffff;
    color: #00cf75;
}
ul.example-selector li:hover {
    background-color: #eeeeee;
}
ul.example-selector li.selected {
    background-color: #00cf75;
    color: #ffffff
}

div.example-code {
    padding: 0;
}